.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  top: 0;
  width: 100%;
  height: 60px;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}
.nama{
    color: #00C8FF;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

/* animasi saat menu buka */
.bar1open {
  transform: rotate(45deg) translate(5px, 5px);
}
.bar2open {
  opacity: 0;
}
.bar3open {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navLinks {
  display: flex;
  gap: 24px;
  list-style: none;
}

.navLinks li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navLinks li:hover {
  color: #06b6d4;
}

/* Responsif */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 60px;
    left: 0;
    background: #1d1d1d;
    width: 100%;
    flex-direction: column;
    align-items: end;
    padding-right: 100px;
    padding: 20px 0;
    gap: 16px;
    display: none;
  }

  .showMenu {
    display: flex;
    padding-right: 20px;
  }
}
